# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

*.gitattributes text
.gitignore      text
*.md            text

*.py            text
*.js            text
*.sql           text
