img {
  width: 100%;
}

/* font-family: 'Archivo Black', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  background-color: #e5e5e5;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.card {
  height: auto;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  margin: 8%;
}

.card > p {
  color: #998383;
  padding: 0 4%;
  border-radius: 30px;
  font-size: 0.8rem;
}

.card .img-hospital {
  background-size: cover;
  background-color: red;
  background-position: center center;
  background-image: url(https://via.placeholder.com/300);
  width: 100%;
  height: 150px;
  margin: 0 auto;
  border-radius: 30px;
}

.card-title {
  font-size: 0.7rem;
}

.card-title,
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.card-info {
  font-size: 20px;
  font-weight: 700;
}

.card-title h2 {
  font-weight: 700;
}

.card-title i {
  color: #4975e9;
  font-size: 30px;
  margin-left: 1rem;
}

.buena {
  color: #00ab11;
}

.media {
  color: #df7d0a;
}

.critica {
  color: #e2261a;
}

.navbar {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: 'Archivo Black', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.menu-white {
  background: white;
  color: #4975e9;
  border-radius: 0px 0px 20px 20px;
}

.menu-blue {
  background: #4975e9;
  color: white;
  border-radius: 0px 0px 20px 20px;
}

.menu-white,
.menu-blue {
  width: 300px;
  padding: 0 1rem;
  text-align: center;
}

.menu-white i,
.menu-blue i {
  padding-left: 1rem;
}

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .navbar {
    font-size: 2rem;
  }
}
